@model IEnumerable<DriverDriverWeb.Models.CourseModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">Driver Driver helps you easily keep track of each of your golf rounds. Click below to get started.</p>
    <p><a href="~/Home/CreateCourseEntry" class="btn btn-success btn-sm">Create Entry</a></p>
</div>

<div class="row">
    <center>
        <div class="col-md-4">
            <h2>Last course played:</h2>
            <p>
                <label>@Model.Last()</label>
</p>
        </div>
        <div class="col-md-4">
            <h2>Average score:</h2>
            <p>
                <label>@Model.Average(i => i.Score)</label>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Total balls lost:</h2>
            <p>
                <label>@Model.Sum(i => i.BallsLost)</label>
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </center>
</div>